# USE LOCALLY

### API DOCUMENTATION
DOC_LOGIN=root
DOC_PASSWORD=root

### API Keys
INDEX_API_KEY=0d8532a8-0203-4257-bfa1-4c0323b4bc9e
LABEL_API_KEY=3d8767ff-ed2a-47bd-91c2-f5ebac712f2c
NORMALIZATION_API_KEY=9ad44ab5-3416-4989-90a6-3cfe972175de
OPENSDER_API_KEY=064ace11-a2a3-4dbd-9d97-fbc978ca29c3
OPS_API_KEY=72b140a7-ffad-4756-9184-32e0d2cd7d6b
PUBLICATION_API_KEY=b6ac8e63-cdee-445f-8e27-93440ad26bf9
ATTACHMENTS_API_KEY=0ee779ab-3270-4d3e-aafd-1973f0573151

### DB
MONGO_DB_URL=mongodb://db:55433/docker-local
MONGO_INITDB_DATABASE=docker-local

### ZONING API
ZONING_API_URL=http://host.docker.internal:8090
