---
- name: Creation secrets api
  k8s:
    apply: true
    state: present
    verify_ssl: true
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: api-secret
        namespace: '{{ dbsder_namespace }}'
        labels:
          app: '{{ dbsder_application }}'
      type: Opaque
      data:
        DOC_PASSWORD: '{{ doc_password | b64encode }}'
        ATTACHMENTS_API_KEY: '{{ attachments_api_key | b64encode }}'
        INDEX_API_KEY: '{{ index_api_key | b64encode }}'
        LABEL_API_KEY: '{{ label_api_key | b64encode }}'
        NORMALIZATION_API_KEY: '{{ normalization_api_key | b64encode }}'
        OPENSDER_API_KEY: '{{ opensder_api_key | b64encode }}'
        OPS_API_KEY: '{{ ops_api_key | b64encode }}'
        PUBLICATION_API_KEY: '{{ publication_api_key | b64encode }}'
        MONGO_DB_URL: '{{ mongo_db_url | b64encode }}'
